services:
  nacos:
    image: nacos/nacos-server:v2.3.2
    container_name: nacos-standalone
    environment:
      - PREFER_HOST_MODE=hostname
      - MODE=standalone
      - NACOS_AUTH_ENABLE=true 
      - NACOS_AUTH_IDENTITY_KEY=serverIdentity
      - NACOS_AUTH_IDENTITY_VALUE=security
      - NACOS_AUTH_TOKEN=VGhpc0lzTXlDdXN0b21TZWNyZXRLZXkwMTIzNDU2Nzg=
    volumes:
      - d:/nacos2.3.2/standalone-logs/:/home/nacos/logs
    ports:
      - "8080:8080"
      - "8848:8848"
      - "9848:9848"
    networks:
      - app-network # 将服务连接到自定义网络，便于其他容器访问
  sentinel-dashboard:
    image: bladex/sentinel-dashboard:1.8.6
    container_name: sentinel-dashboard-1.8.6
    ports:
      - "8858:8858"
    environment:
      # 设置控制台登录用户名，默认为 sentinel
      - sentinel.dashboard.auth.username=sentinel
      # 设置控制台登录密码，默认为 sentinel
      - sentinel.dashboard.auth.password=sentinel
      # 设置服务器Session过期时间，如7200秒
      - server.servlet.session.timeout=7200
    restart: always
  auth-center: #spring oauth2 授权服务器
    build: ./auth-center  # 使用Dockerfile构建镜像的路径
    container_name: auth-center
    # 如果不想构建，可以直接使用已有的镜像，例如：
    # image: your-dockerhub-username/your-springboot-app:latest
    expose:
      - "20001"  # 暴露容器内部的8080端口给其他服务访问
    ports:
      - "20001:20001" # 端口映射：宿主机端口:容器内端口
    environment:
      - NACOS_HOST=nacos
      - NACOS_PASSWORD=${NACOS_PASSWORD}
      - AUTH_CENTER_HOST=auth-center
      - DB_HOST=auth-center-mysql-db
      - DB_PORT=3306
      - DB_NAME=auth_center
      - DB_USER=auth_center
      - DB_PASSWORD=${AUTH_CENTER_DB_PASSWORD}
      - AUTH_CENTER_REDIS_HOST=auth-center-redis
      - AUTH_CENTER_REDIS_PORT=6379
    depends_on:
      - auth-center-mysql-db
      - nacos
      - auth-center-redis
    networks:
      - app-network # 将服务连接到自定义网络，便于其他容器访问
  auth-center-redis:
    image: redis:latest
    container_name: auth-center-redis
    ports:
      - "16379:6379"
    volumes:
      - ./redis/data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      - app-network # 将服务连接到自定义网络，便于其他容器访问
  auth-center-mysql-db: 
    image: gcr.io/ml-pipeline/mysql:8.0.26 
    container_name: auth-center-mysql-db 
    restart: unless-stopped
    ports:
      - "13306:3306" # 端口映射：宿主机端口:容器内端口
    environment:
      MYSQL_ROOT_PASSWORD: ${AUTH_CENTER_DB_PASSWORD}
      MYSQL_DATABASE: auth_center
      MYSQL_USER: auth_center
      MYSQL_PASSWORD: ${AUTH_CENTER_DB_PASSWORD}
      TZ: Asia/Shanghai # 设置容器时区[2](@ref)
    volumes:
      # 数据持久化：将容器内的数据目录映射到宿主机
      - "D:/study/cloud-di-zai-zi-zhi-shen-qing-db/auth-center/data:/var/lib/mysql" # 确保数据不随容器删除而丢失[2](@ref)[4](@ref)
      # 挂载自定义配置文件目录
      - "D:/study/cloud-di-zai-zi-zhi-shen-qing-db/auth-center/config/conf.d:/etc/mysql/conf.d" # 可放置自定义配置如 my.cnf[2](@ref)[6](@ref)
      # 挂载初始化SQL脚本目录：目录下的.sql文件会在数据库首次初始化时自动执行
      # - "./db/auth-center/initdb.d:/docker-entrypoint-initdb.d" # [4](@ref)[6](@ref)
    healthcheck: # 健康检查，确保数据库完全启动后再连接应用[2](@ref)[6](@ref)
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-pHtht123.com"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - app-network # 将服务连接到自定义网络，便于其他容器访问
  role-manage-mysql-db: 
    image: gcr.io/ml-pipeline/mysql:8.0.26 
    container_name: role-manage-mysql-db 
    restart: unless-stopped
    ports:
      - "13307:3306" # 端口映射：宿主机端口:容器内端口
    environment:
      MYSQL_ROOT_PASSWORD: ${ROLE_MANAGE_DB_PASSWORD}
      MYSQL_DATABASE: role_manage
      MYSQL_USER: role_manage
      MYSQL_PASSWORD: ${ROLE_MANAGE_DB_PASSWORD}
      TZ: Asia/Shanghai # 设置容器时区[2](@ref)
    volumes:
      # 数据持久化：将容器内的数据目录映射到宿主机
      - "D:/study/cloud-di-zai-zi-zhi-shen-qing-db/role-manage/data:/var/lib/mysql" # 确保数据不随容器删除而丢失[2](@ref)[4](@ref)
      # 挂载自定义配置文件目录
      - "D:/study/cloud-di-zai-zi-zhi-shen-qing-db/role-manage/config/conf.d:/etc/mysql/conf.d" # 可放置自定义配置如 my.cnf[2](@ref)[6](@ref)
      # 挂载初始化SQL脚本目录：目录下的.sql文件会在数据库首次初始化时自动执行
      # - "./db/auth-center/initdb.d:/docker-entrypoint-initdb.d" # [4](@ref)[6](@ref)
    healthcheck: # 健康检查，确保数据库完全启动后再连接应用[2](@ref)[6](@ref)
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-pHtht123.com"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - app-network 
  role-manage-app: 
    build: ./rolemanage  
    container_name: role-manage-app
    expose:
      - "20007"  # 暴露容器内部的端口给其他服务访问
    ports:
      - "20007:20007" # 端口映射：宿主机端口:容器内端口
    environment:
      - NACOS_HOST=nacos
      - NACOS_PASSWORD=${NACOS_PASSWORD}
      - AUTH_CENTER_HOST=auth-center
      - ROLE_MANAGE_DB_HOST=role-manage-mysql-db
      - ROLE_MANAGE_DB_PORT=3306
      - ROLE_MANAGE_DB_NAME=role_manage
      - ROLE_MANAGE_DB_USER=role_manage
      - ROLE_MANAGE_DB_PASSWORD=${ROLE_MANAGE_DB_PASSWORD}
    depends_on:
      - role-manage-mysql-db
      - nacos
    networks:
      - app-network # 将服务连接到自定义网络，便于其他容器访问
  certification-catalog:
    build: ./certification-catalog  # 使用Dockerfile构建镜像的路径
    container_name: certification-catalog
    expose:
      - "20000"  # 暴露容器内部的8080端口给其他服务访问
    ports:
      - "20000:20000" # 端口映射：宿主机端口:容器内端口
    environment:
      - NACOS_HOST=nacos
      - NACOS_PASSWORD=${NACOS_PASSWORD}
      - AUTH_CENTER_HOST=auth-center
    depends_on:
      - auth-center
      - nacos
    networks:
      - app-network # 将服务连接到自定义网络，便于其他容器访问
  nginx:
    image: nginx:stable-alpine # nginx:stable-alpine
    container_name: di_zai_nginx
    ports:
      - "8089:80"  # 将主机的80端口映射到容器的80端口
    volumes:
      - "./nginx/html:/usr/share/nginx/html"
      - "./nginx/config/nginx.conf:/etc/nginx/nginx.conf"
      - "./nginx/logs:/var/log/nginx"
    depends_on:
     - gateway
     - auth-center
    # 使用links确保nginx可以通过服务名"app"访问到后端应用[1](@ref)[2](@ref)
    links:
     - gateway
     - auth-center
    networks:
      - app-network # 将服务连接到自定义网络，便于其他容器访问
  gateway:
    build: ./gateway  # 使用Dockerfile构建镜像的路径
    container_name: gateway
    expose:
      - "20003"  # 暴露容器内部的8080端口给其他服务访问
    ports:
      - "20003:20003" # 端口映射：宿主机端口:容器内端口
    environment:
      - NACOS_HOST=nacos
      - NACOS_PASSWORD=${NACOS_PASSWORD}
      - AUTH_CENTER_HOST=auth-center
    depends_on:
      - auth-center
      - nacos
    networks:
      - app-network # 将服务连接到自定义网络，便于其他容器访问
  fluent-bit:
    image: fluent/fluent-bit:4.0.0
    container_name: fluent-bit
    ports:
      - "24224:24224" # 端口映射：宿主机端口:容器内端口
    volumes:
      # 挂载主配置文件
      - ./fluent-bit/fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf
      # - ./fluent-bit/fluent-bit-docker.db:/fluent-bit/etc/db/docker.db
    networks:
      - app-network # 将服务连接到自定义网络，便于其他容器访问
networks:
  app-network:
    driver: bridge