server:
  port: 20001
  servlet:
    session:
      tracking-modes: cookie
spring:
  security:
    oauth2:
      authorizationserver:
        issuer: http://auth-server:20001
        # issuer: http://127.0.0.1:20001