# db-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
type: Opaque
data:
  username: YWRtaW4=        # admin 的 base64 编码
  password: TXlTZWN1cmVQYXNzd29yZDEyMw==  # MySecurePassword123 的 base64 编码
